<div class="container ">
    <h1 class="text-center mt-5">Users List</h1>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-5 ">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>id</th>
            <td mat-cell *matCellDef="let element "><a  [routerLink]="['/display',element.id]">{{element.id}}</a></td>
        </ng-container>

        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>userName</th>
            <td mat-cell *matCellDef="let element">{{element.userName}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef>Password</th>
            <td mat-cell *matCellDef="let element"> {{element.password}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> FirstName </th>
            <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> LastName </th>
            <td mat-cell *matCellDef="let element">{{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element"><button mat-fab color="warn" (click)="onDelete(element.id)"
                aria-label="Example icon button with a delete icon" class="delete"> 
                <mat-icon>delete</mat-icon>
            </button></td>
        </ng-container>
        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef>Update</th>
            <td mat-cell *matCellDef="let element"><button mat-fab color="primary" (click)="onUpdate(element.id)"
                aria-label="Example icon button with a delete icon"> 
                <mat-icon>edit  </mat-icon>
            </button></td>
</ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>