<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>user Detail</mat-card-title>
          <mat-card-subtitle>profile</mat-card-subtitle>
        </mat-card-header>
        <p><strong>UserName:</strong>{{userArry.userName}}</p>
        <p><strong>Password:</strong>{{userArry.password}}</p>
        <p><strong>Email:</strong>{{userArry.email}}</p>
        <p><strong>FirstName:</strong>{{userArry.firstName}}</p>
        <p><strong>LastName:</strong>{{userArry.lastName}}</p>

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    
</div>